body
{
    background-color: aqua;
}
.red-text {
    color: red;
}

 #green-text {
    color: green;
}    
p[data-color="blue"] {
    color: blue;
}
div p {
    color: orange;
}
div > p {
    color: black;
}
div.nested p {
    color: teal;
}